/*
 * Primary: #FF8726
 * Secondary: #bf5a07
 *
 * gray-lighter: #eee
 * gray-light: #777
 */
body {
    background: #eee;
    text-align: center;
    margin: 30px 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.clear {
    clear: both;
    float: none;
    height: 0;
    line-height: 0;
    font-size: 0;
}


#website {
    background: #fff;
    border: 1px solid #ddd;
    text-align: left;
    width: 990px;
    margin: 0 auto;

    -moz-box-shadow: 0 0 20px 5px #ccc;
    -webkit-box-shadow: 0 0 20px 5px #ccc;
    box-shadow: 0 0 20px 5px #ccc;
}

#header {
    background: #FF8726;
}

#header .logo {
    background: #fff;
    padding: 14px 10px;
}


.nav_main ul, .nav_sub ul, .nav_service ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Main Nav */
.nav_main ul li {
    float: left;
}

.nav_main ul li a {
    display: block;
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
}

.nav_main ul li a:hover {
    background: #bf5a07;
}

.nav_main ul li.active a {
    background: #bf5a07;
}


#nav_side {
    float: left;
    width: 190px;
    min-height: 10px;
}
#nav_side ul {
    list-style: none;
    padding-left: 20px;
}

#nav_side ul ul {
    margin-bottom: 10px;
}

li.active a {
    font-weight: bold;
}

li.active li a {
    font-weight: normal;
}

li.active li.active a {
    font-weight: bold;
}

#area {
    padding-bottom: 20px;
}

#content {
    float: left;
    width: 569px;
    padding: 0 20px;
    border-left: 1px solid #777;
    min-height: 350px;
}

.fullWidth #content {
    width: 759px;
}

#sidebar {
    float: left;
    width: 170px;
    padding-right: 20px;
}

#top, #bottom {
    background: #eee;
    padding: 3px 10px;
    text-align: center;
}

#top {
    border-bottom: 1px solid #777;
}

#bottom {
    border-top: 1px solid #777;
}

#leftSidebar {
    padding: 0 20px;
}

#footer {
    padding: 5px 10px;
    background: #555;
    color: #fff;
    position: relative;
}

.nav_service {
    position: absolute;
    right: 0;
    top: 5px;
    width: 400px;
    text-align: right;
}

.nav_service ul li {
    display: inline-block;
}

.nav_service ul li a {
    color: #777;
    text-decoration: none;
    padding: 5px 10px;
}

/* Breadcrumb */
div.breadcrumb {
    width: 100%;
    min-height: 20px;
    margin-bottom: 20px;
}

div.breadcrumb ul li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

div.breadcrumb ul li:before {
    content: '»';
    float: left;
    margin-top: -1px;
}

div.breadcrumb ul li.first:before {
    content: '';
    display: none;
}

div.breadcrumb ul li a,
div.breadcrumb ul li span {
    padding-left: 5px;
}

/* Language Navigation */
ul.languageNavigation {
    float: right;
    margin-right: 5px !important;
    position: relative;
}

ul.languageNavigation ul {
    display: none;
    position: absolute;
    right: 0;
}

ul.languageNavigation ul li {
    float: none;
    background: #FF8726;
}

ul.languageNavigation ul li.current {
    display: none;
}

ul.languageNavigation:hover ul {
    display: block;
}

/* Not translated yet box */
.notTranslatedYet {
    background: #FF8726;
    border: 1px solid #bf5a07;
    padding: 10px;
    color: #fff;
}

.notTranslatedYet a {
    color: #fff;
}

a {
    color: #FF8726;
}
